.kayit-ol-container {
    min-height: 100vh;
}

.kayit-ol-div {
    max-width: 400px;
}

.kayit-ol-buton {
    background-color: black;
    align-items: center;

}

.kayit-ol-buton:hover {
    background-color: black !important;
}

.custom-card {
    box-shadow: 0 0 10px 0 black;
}

.hr {
    color: black;
    width: 400px;
    height: 1px;
}

.kayitOl {
    text-align: center;
}

.girisYap {
    text-decoration: none;
}

