ul,
li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.link-geri{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.link-geri:hover{
    color: crimson;
}
.SignIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
}
.SignInTitle{
    text-align: center;
}

